body {
  .logo {
    display: inline-block;
  }

  .dark-logo {
    display: none;
  }
}

body.dark {
  .logo {
    display: none;
  }

  .dark-logo {
    display: inline-block;
  }
}

.homepage-sidebar-prefooter {
  text-align: center;

  img {
    width: 60%;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}

.homepage-sidebar-main {
  .lead {
    font-size: 1.125rem;
  }

  .hero {
    max-width: 80%;
    width: 300px;
  }
}

