body {
  .logo {
    display: inline-block;
  }

  .dark-logo {
    display: none;
  }
}

body.dark {
  .logo {
    display: none;
  }

  .dark-logo {
    display: inline-block;
  }
}

.homepage-sidebar-prefooter {
  text-align: center;

  img {
    width: 60%;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  .pre {
    text-align: justify;
    border-bottom: 1px solid $gray-300;
    border-top: 1px solid $gray-300;
    margin-top: 70px;
    padding: 30px;
    font-size: 1rem;
    line-height: 1.76;

    @include media-breakpoint-down(sm) {
      padding: 15px;
    }
  }
}

.homepage-sidebar-main {
  .lead {
    font-size: 1.125rem;
  }

  .hero {
    max-width: 80%;
    width: 300px;
  }
}

